<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cg.Dao.TestMapper">
<!--    List<employee> getAll();-->
    <select id="getAll" resultType="com.cg.pojo.employee">
        select * from ssm_emp
    </select>

<!--    List<employee> getNameEmp();-->
    <select id="getNameEmp" resultType="com.cg.pojo.logUser">
    select * from login where logname=#{logname} and logword=#{logword}
    </select>

<!--    void AddEmp(employee employee); -->
    <insert id="AddEmp">
        insert into ssm_emp (emp_id,emp_name,age,sex,email)values (#{empID},#{empName},#{age},#{sex},#{email})
    </insert>

<!--    int UpdateEmp(@Param("empId") int empId);-->
    <update id="UpdateEmp">
        update ssm_emp set
    </update>

<!--    int DeleteEmp(@Param("empId") int empId);-->
    <delete id="DeleteEmp">
        delete from ssm_emp where emp_id=empId
    </delete>


</mapper>